body {
  background-color: #2e2727;
}

.fondo-simon-dice {
  background-image: url("../img/fondo-simon-dice2.jpeg");
  background-size:contain;
  background-position:center;
  background-repeat:repeat;
}

.texto {
  position:relative;
  top: -2.5em;  
  text-align:center;
  font-size: 2.5em;
  color: #fff;
  font-weight:800;
  -webkit-text-stroke: 1px black;
}

.informacion {
  text-align: center;
  display: flex;
  justify-content:center;
}

#numero-de-rondas,
#estado {
  margin: 1em;
}

.oculto {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  position: relative;
}

.contenedor-botones {
  width: 30vw;
  height: 60vh;
  display: grid;
  grid-template-areas:
    "btn-verde btn-rojo"
    "btn-azul btn-amarillo";
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  justify-items: center;
  margin: auto;
}

#btn-jugar {
  align-self: center;
  margin-bottom: 0.5em;
  border-radius: 10%;
  border: 3px solid black;
  font-size: 1.5em;
  position: absolute;
  top: 6.8em;
  background-color: #B4D3E6;
  font-weight: 600;
}

.botones {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
  border: 9px solid black;
  box-shadow: 4px 6px hsl(0, 3%, 28%);
}

#btn-verde {
  background-color: green;
  grid-area: btn-verde;
}

#btn-rojo {
  background-color: red;
  grid-area: btn-rojo;
}

#btn-azul {
  background-color: blue;
  grid-area: btn-azul;
}

#btn-amarillo {
  background-color: yellow;
  grid-area: btn-amarillo;
}
